*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.svc
*.pyc
__pycache__
*.sh
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
.sass-cache
dist
*.log.*
dump.rdb

# ignore everything in client/public directory
client/public/**
### except .gitkeep
!client/public/.gitkeep
